[user]
	name = Chris Sweeney
	email = chris.sweeney@shopify.com
[diff]
    tool = rubymine
    algorithm = patience
[merge]
    tool = rubymine
[mergetool]
    keepBackup = false
[protocol]
	version = 2
[core]
	excludesfile = ~/.gitignore
	commitGraph = true
[credential]
	helper = osxkeychain
[gc]
	writeCommitGraph = true
