[core]
  commitGraph = true
[diff]
  algorithm = patience
[alias]
  a = add
  c = commit
  cam = commit --amend
  d = diff
  p = push
  rb = rebase
  rba = rebase --abort
  rbc = rebase --continue
  s = status
  main = rebase origin/main
[protocol]
  version = 2
[user]
  name = Chris Sweeney
  email = chris.sweeney@shopify.com
[difftool "vscode"]
  cmd = code --wait --diff $LOCAL $REMOTE
[merge]
  tool = vscode
[mergetool "vscode"]
  cmd = code --wait $MERGE
[commit]
  gpgSign = true
